<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PI Visuals</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="top" style="margin-bottom: 30px;">
        <img src="img/Logo.svg" alt="" class="logo">
        <ul class="nav">
            <li><a href="" class="active" id="home">Home</a></li>
            <!-- <li><a href="" id="view">View</a></li> -->
            <li><a href="" id="about">About</a></li>
        </ul>
    </div>

    <div class="main">
        <img src="img/Glass.svg" alt="" class="glass">
        <img src="img/Glassmobile.svg" alt="" class="glassMobile">
        <img src="img/Glassmobile.svg" alt="" class="glassMobile2">
        <div class="message">
            <p>Visualise and create your desires.</p>
            <!-- <p>Detailed-Oriented and Creative Self-taught Graphic Designer with competence in creating graphic layouts, designs and logos for brands. Skilled in conceptualising and creating graphics that attract customers and enhance brand visibiity through proven strength in creativity and excellent eye for aesthetics. Also excels at several technical tools including Corel Draw and Pixellab. Seeking to leverage self-taught knowledge to work in any reputable organization and grow professionally. +234 817 971 2350</p> -->
            <button class="btn" id="catalogue">Catalogue</button>
        </div>
        <div class="view">
            <div class="firstRow">
                <img src="img/one.png" alt="" style="width: 30%; height: auto; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);">
                <img src="img/two.png" alt="" style="width: 30%; height: auto; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);">
                <img src="img/three.png" alt="" style="width: 30%; height: auto; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);">
            </div>
            <div class="secondRow">
                <img src="img/four.jpg" alt="" style="width: 30%; height: auto; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);">
                <img src="img/five.jpg" alt="" style="width: 30%; height: auto; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);">
                <img src="img/six.jpg" alt="" style="width: 30%; height: auto; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);">
            </div>
        </div>
        <!-- Mobile view -->
        <div class="mobileView">
            <img src="img/one.png" alt="" style="width: 80%; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); margin: 0px auto 40px auto;">
            <img src="img/two.png" alt="" style="width: 80%; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); margin: 0px auto 40px auto;">
            <img src="img/three.png" alt="" style="width: 80%; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); margin: 0px auto 40px auto;">
            <img src="img/four.jpg" alt="" style="width: 80%; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); margin: 0px auto 40px auto;">
            <img src="img/five.jpg" alt="" style="width: 80%; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); margin: 0px auto 40px auto;">
            <img src="img/six.jpg" alt="" style="width: 80%; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); margin: 0px auto 40px auto;">
        </div>
        <div class="about">
            <img src="img/About Group.svg" alt="">
        </div>
        <div class="aboutMobile">
            <img src="img/mobileAbout.svg" alt="" style="width: 80%;">
        </div>
    </div>

    <script src="js/index.js"></script>
    
</body>
</html>